@import "breakpoint";
//FONTS

$font-stack: 'Capriola', sans-serif;

//COLORS

$primary-color: rgba(60,40,60,1); //for text
$secondary-color: rgba(100,250,100,1); //for buttons
$decor-color: rgba(255,255,255,0.6); //for quote mark

$container-color: rgba(160,150,160,0.95);
$buttons-color: rgba(40, 27, 28, 0.6);
$buttons-hover-color: rgba(100,150,100,1);


//OTHER VARIABLES

$quotes: "\201d" "\201D" "‘" "’";


//MIXINS

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


//STYLING

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $font-stack;
  font-size: 16px; 
}

.canvas {
  display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#quote-container {
  margin: 5% auto 0;
  padding: 5%;
  width: 60%;
  height: auto;
  background-color: $container-color;
  quotes: $quotes;
  position: relative;
  z-index: 0;
  @include border-radius(2px);
  
  &:before {
    content: open-quote;
    font-size: 600%;
    color: $decor-color;
    position: absolute;
    top: 10%;
    z-index: 1;
    display: block;
  }
  
  .quote {
    margin-bottom: 5%;
    color: $primary-color;
    position: relative;
    z-index: 2;
    
    p {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 1.4em;
      line-height: 1.4;
      min-height: 4 * 1.6em;
       
      @include breakpoint(750px) {
        font-size: 1.6em;
        line-height: 1.6;
      };
    }
  }
  
  footer {
    text-align: right;
    font-size: 1.2em;
    
    &:before {
    content: "– ";
    }
  }
  
  .buttons {
    display: block;
  }
  
  .twitter,
  .new-quote {
    display: block;
    color: $secondary-color;
    background-color: $buttons-color;
    transition: all 0.7s;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    padding-left: 12px;
    padding-right: 12px;
    @include border-radius(2px);
  }

  .twitter:hover,
  .new-quote:hover {
    color: fade-in($buttons-color, 0.4);
    background-color: $buttons-hover-color;
  }

  .twitter:focus,
  .new-quote:focus {
    outline: none;
  }
  
  .twitter {
  float: left;
  margin-right: 6px;
  font-size: 1.4em;
  height: 38px;
  }

  .new-quote {
  float: right;
  margin-left: 6px;
  font-size: 0.9em;
  text-transform: uppercase;
  }
}